@page "/"
@using BlazorApp2.Components
@using Class.Services;
@using Class;
@inject TableListItemsService tableListItemsService;
@inject FoodListItemService foodListItemsService;

<PageTitle>Home</PageTitle>

<div class="Global--Container">
	<Header selectedPage="selectedPage"/>
	<div class="BodyStyle">
		<Navbar selectedPage="selectedPage" />
		<div>
			<MainCanvas />
		</div>
		
	</div>
</div>

@code{
	private string selectedPage = "Table";

	protected override Task OnInitializedAsync()
	{
		List<Shape> tables = new List<Shape>()
		{
			new Shape("S001","./public/square.svg","Rectangle",100,100, 0, "rectangle"),
			new Shape("S002","./public/circle.svg","Circular",0, 0, 100, "circle")
		};
		tableListItemsService.setItems(
		new List<ShapeListItem>([
			new ShapeListItem{
					Id = 1,
					Title = "Table",
					Content = tables
				},
			])
		);

		var food1 = new Food(1, "Pizza", 10, 12.99m, "Available", "path/to/pizza.jpg"); 
		var food2 = new Food(2, "Burger", 15, 8.99m, "Available", "path/to/burger.jpg"); 
		var food3 = new Food(3, "Pasta", 20, 10.50m, "Available", "path/to/pasta.jpg"); // Creating sample FoodListItem objects 
		var foodListItem1 = new FoodListItem { 
			Id = 1, Title = "Main Courses", 
			Content = new List<Food> { food1, food2, food3 } 
		}; 
		var foodListItem2 = new FoodListItem { 
			Id = 2, Title = "Desserts", Content = new List<Food> { food1 } // Example with single item 
		};

		foodListItemsService.setItems(
			new List<FoodListItem> { foodListItem1, foodListItem2 }
		);

		return base.OnInitializedAsync();
	}
}
