@using Class;

<div class="collaspsible-listItem" draggable="true" id="@(foodInfo != null ? foodInfo.FoodId : "draggable")">
	<img src="@(foodInfo != null ? foodInfo.ImageUrl : "")" />
	<span>@(foodInfo != null ? foodInfo.FoodName : "")</span>
</div>

@code {
	[Parameter]
	public Food? foodInfo { get; set; }
	[Inject] private IJSRuntime JS { get; set; }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && foodInfo != null)
		{
			//var jsonData = JsonSerializer.Serialize(table);
			await JS.InvokeVoidAsync("dragDropInterop.setDragFoodData", foodInfo.FoodId, foodInfo.FoodId, "food");
		}
	}
}
