@using BlazorApp2.Components
@using Class
@using Class.Services;
@inject FoodListItemService foodListItemsService;

<div class="admin-navbar">
    <div class="CollaspsibleList--container">
        <FoodOnTableCollaspsibleList selectedTable="selectedTable" />
    </div>
</div>

@code {
    [Parameter] public ITable? selectedTable { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
