/* General Page Styling */
.admin-page {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #FFFFFF;
}

/* Sidebar container */
.sidebar {
    background-color: #2B3543;
    color: #FFFFFF;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.sidebar-header {
    background-color: #252D39;
    padding: 10px 10px;
    font-size: 26px;
    font-weight: bold;
    color: #FFFFFF;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .sidebar ul li {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        font-size: 20px;
    }

        .sidebar ul li a {
            text-decoration: none;
            color: #8A8F99;
            display: block;
            flex-grow: 1;
        }

        .sidebar ul li.selected a {
            color: #FFFFFF;
            font-weight: bold;
            position: relative;
        }

        .sidebar ul li.selected::before {
            content: '';
            position: absolute;
            left: 5px;
            top: 120px;
            height: 30px;
            width: 2px;
            background-color: #6A5ACD;
            border-radius: 2px;
        }

        .sidebar ul li a:hover {
            color: #FFFFFF;
        }


/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
}

/* Header Styling */
.header {
    background-color: #F8F8F8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 250px;
    height: 60px;
    width: 87%;
    box-sizing: border-box;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .header-content label {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }

/* Logout Button */
.logout-btn {
    text-decoration: none;
    color: #331798;
    font-size: 15px;
    font-weight: 600;
}

.role-toggle {
    padding: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.role-toggle h3 {
    font-size: 23px;
    color: #441FCB;
}

.role-toggle div label {
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 15px;
}

.role-toggle div label input[type="radio"] {
    margin-right: 5px;
}


/* User Table */
.user-role-management {
    display: flex;
    gap: 20px;
}

.user-list {
    width: 200px;
}

.search-bar {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    height: 200px;
    overflow-y: auto;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.btn {
    padding: 10px;
    border: none;
    cursor: pointer;
    color: white;
}

.add {
    background-color: blue;
}

.delete {
    background-color: red;
}


