@using BlazorApp2.Components
@using BlazorApp4.Client.Components
@using Class.Services;

<div class="admin-navbar">
    <div class="Search--Container">
        @* <SearchBar onSearch={onSearch} /> *@
    </div>

    <div class="CollaspsibleList--container">
        @if(selectedPage == "Table" && tableListItemsService != null){
            <TableCollaspsibleList Items="@tableListItemsService.Items" />
        }
        else if (selectedPage == "Order" && foodListItemsService != null){
            <FoodCollaspsibleList Items="@foodListItemsService.Items" />
        }         
    </div>
</div>

@code {
    [Parameter] public string? selectedPage { get; set; }

    [Parameter] public TableListItemsService? tableListItemsService { get; set; }

    [Parameter] public FoodListItemService? foodListItemsService { get; set; }
}
