@using BlazorApp2.Components
@using BlazorApp4.Client.Components
@using Class.Auth
@using Class.Services;

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@* @using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider *@

<AuthorizeView>

</AuthorizeView>
<div class="admin-navbar">
    <div class="Search--Container">
        @* <SearchBar onSearch={onSearch} /> *@
@*         @if(user != null){
            <ul>
                @foreach (var claim in user.Claims)
                {
                    <li>@claim.Type: @claim.Value</li>
                }
            </ul>
        } *@

    </div>

    <div class="CollaspsibleList--container">
        @if(selectedPage == "Table" && tableListItemsService != null){
            <TableCollaspsibleList Items="@tableListItemsService.Items" />
        }
        else if (selectedPage == "Order" && foodListItemsService != null){
            <FoodCollaspsibleList Items="@foodListItemsService.Items" />
        }         
    </div>
</div>

@code {
    [Parameter] public MenuResource? Resource { get; set; }

    [Parameter] public string? selectedPage { get; set; }

    [Parameter] public TableListItemsService? tableListItemsService { get; set; }

    [Parameter] public FoodListItemService? foodListItemsService { get; set; }

    // [Parameter]
    // public ClaimsPrincipal? user { get; set; }
}
