@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

.admin-PropertiesBar {
    width: 243px;
    background-color: #F0E6D5;
    color: white;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--Color-click, #A09A9A);
}

.Title{
    border-bottom: 1px solid var(--Color-click, #A09A9A);
}

.Title > h4{
    color: var(--Color-11, #574840);
    /* Lable 1 */
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
}

  .Search--Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 68px;
    padding: 20px 26px 20px 27px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--Color-click, #A09A9A);
  }

  .CollaspsibleList--container{
    overflow: auto;
  }
 
  .CollaspsibleList--container::-webkit-scrollbar {
    width: 0.2vw;
  }
  
  .CollaspsibleList--container::-webkit-scrollbar-track {
    background: #F0E6D5;
  }
  
  .CollaspsibleList--container::-webkit-scrollbar-thumb {
    background: #A09A9A;
    border-radius: 20px;
  }
  
  .CollaspsibleList--container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }