@using BlazorApp1.Components.Components;
@using BlazorApp1.Class.Services;
@rendermode InteractiveServer
@inject TableListItemsService tableListItemsService

<div class="admin-navbar">
      <div class="Search--Container">
        @* <SearchBar onSearch={onSearch} /> *@
      </div>

      <div class="CollaspsibleList--container">
         <TableCollaspsibleList Items=@(tableListItemsService.Items)/>
      </div>
    </div>

@code {
    
}
