.admin-head-logout-btn {
    margin-left: 20px;
    padding: 0 30px;
    width: 180px;
    height: 45px;
    background-color: #f8f8f8;
    border-radius: 12px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #068DA9;
    text-decoration: none;
    color: #068DA9;
}

.admin-head-logout-btn:hover {
    color: #f8f8f8;
    background-color: #068DA9;
    border: none;
}

.head-login-ico {
    margin-left: 10px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

THIS FUCKING SUCKS
I FUCKING SUCKS AT CSS AND THIS SHIT WILL BREAK THE MOMENT ANOTHER ELEMENT IS ADDED IN

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 68px;
    background-color: #F0E6D5;
    font-family: 'Manrope';
}
  
.logo-and-nav {
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
}
  
.logo-image {
    margin-left: -8px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 14px;
    height: 44px
}
  
.logo-text {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
  
.logo-text h3 {
    font-size: 24px;
    color: #574840;
    font-weight: bold;
    margin: 0;
}
  
.function-selection {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -11px; /* Space between the heading and buttons */
}
  
.nav-button {
    background: none;
    border: none;
    margin-right: 15px;
    padding: 0;
    cursor: pointer;
    font-weight: 100;
    font-size: 18px;
    color: #4a3b2f;
    transition: color 0.3s;
}
  
.nav-button.selected {
    color: #e6943e;
}
  
.underline {
    position: absolute;
    bottom: 14px;
    height: 2px;
    width: 40px;
    background-color: #e6943e;
    transition: left 0.3s ease;
}
  
.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
}
  